body {
    &.custom.ns-static-page.a-index {

        .main-grid-container-fluid {
            max-width: (1220px + 20px * 2);
        }


        .wrapper {
            background-color: $c-white;
        }

        .article-source {
            @extend %col-full-width;
        }
        h1 {
            @extend %col-full-width;
        }
        .description {
            @extend %col-full-width;
        }
        .authors {
            @extend %col-full-width;
        }
        .image-main {
            @extend %col-full-width;
        }
        .footnote:before {
            @extend %col-full-width;
        }

        .static-content-container {
            padding-top: rem(40px);
            @include media-breakpoint-up(lg) {
                padding-top: rem(60px);
            }
            padding-bottom: rem(105px);

            @include user-select(none);
            @include color-soggy-asphalt();
            @include text-paragraph();

            p, ul, ol, figure, img.image {
                margin-bottom: rem(18px);
                @include media-breakpoint-up(md) {
                    margin-bottom: rem(18px);
                }
                @include media-breakpoint-up(lg) {
                    margin-bottom: rem(30px);
                }
                @include media-breakpoint-up(xl) {
                    margin-bottom: rem(30px);
                }

                & + h2 {
                    padding-top: rem((53px - 18px));
                    @include media-breakpoint-up(md) {
                        padding-bottom: rem(18px);
                    }
                    @include media-breakpoint-up(lg) {
                        padding-bottom: rem((61px - 30px));
                    }
                    @include media-breakpoint-up(xl) {
                        padding-bottom: rem((61px - 30px));
                    }
                }

            }

            .blockquote {
                @include text-paragraph();
                @include text-blockqoute();

                margin-top: rem(17px);
                margin-bottom: rem(35px);
                @include media-breakpoint-up(md) {
                    margin-bottom: rem(32px);
                    margin-top: rem(14px);
                }
                @include media-breakpoint-up(lg) {
                    margin-bottom: rem(52px);
                    margin-top: rem(22px);
                }
            }

            .article-source {
                @include text-category();
                @include color-spb-sky-3();
                text-align: center;

                margin-bottom: rem(26px);
                @include media-breakpoint-up(lg) {
                    margin-bottom: rem(27px);
                }

                .dot {
                    &:before {
                        background-color: $spb-sky-3;
                        position: absolute;
                        left: 0;
                        top: -2px;
                    }
                    margin: 0 rem(8px);
                    position: relative;
                    width: rem(4px);
                    height: rem(4px);

                }

            }



            h1 {
                @include text-h1();
                text-align: center;

                margin-bottom: rem(27px);
                @include media-breakpoint-up(lg) {
                    margin-bottom: rem(28px);
                }
            }

            h2 {
                @include text-h2();
                margin-bottom: rem(12px);
                @include media-breakpoint-up(lg) {
                    margin-bottom: rem(16px);
                }
            }

            .description {
                @include text-description();
                text-align: center;
                margin-bottom: rem(11px);
                @include media-breakpoint-up(md) {
                    margin-bottom: rem(21px);
                }
                @include media-breakpoint-up(lg) {
                    margin-bottom: rem(31px);
                }
            }

            .author, .authors {
                @include text-author();
                text-align: center;

                margin-bottom: rem(39px);
                @include media-breakpoint-up(md) {
                    margin-bottom: rem(54px);
                }
                @include media-breakpoint-up(lg) {
                    margin-bottom: rem(68px);
                }
                @include media-breakpoint-up(xl) {
                    margin-bottom: rem(67px);
                }
                @include media-breakpoint-up(xw) {
                    margin-bottom: rem(79px);
                }
            }

            .initial-letter:first-letter {
                vertical-align: top;
                float: left;
                text-transform: uppercase;
                font-size: rem(80px);
                line-height: rem(80px);
                margin-right: rem(33px);
                @include media-breakpoint-up(lg) {
                    font-size: rem(100px);
                    line-height: rem(100px);
                    margin-right: rem(40px);
                }
            }

            img {
                height: auto !important;
                width: auto;
                margin: 0 auto;
                max-width: 100%;
                display: block;

                max-height: 100vh;
                object-fit: contain;
            }

            figure {

                display: inline-block;
                display: table;

                &.image-main {
                    display: block;
                }

                & > img {
                    display: block;
                }

                &.image-main {
                    margin-bottom: rem(27px);
                    @include media-breakpoint-up(md) {
                        margin-bottom: rem(54px);
                    }
                    @include media-breakpoint-up(lg) {
                        margin-bottom: rem(76px);
                    }
                }

                figcaption {
                    @include text-caption();
                    @include color-spb-sky-3();
                    text-align: center;
                    caption-side: bottom;
                    padding-top: rem(17px);
                    @include media-breakpoint-up(md) {
                        padding-top: rem(15px);
                    }
                    @include media-breakpoint-up(lg) {
                        padding-top: rem(22px);
                    }
                    @include media-breakpoint-up(xl) {
                        padding-top: rem(10px);
                    }
                }
            }

            figure.image, img {
                clear: both;
            }

            figure.image.image-align-right img {
                margin-right: 0;
                margin-left: auto;
            }

            figure.image.image-align-left, img.image-align-left {
                float: left;
                margin-right: 20px !important;
                max-width: 50vw;
            }

            figure.image.image-align-right, img.image-align-right {
                float: right;
                margin-left: 20px !important;
                max-width: 50vw;
            }

            .col-12 {
                .image-align-right {
                    margin-right: 0;
                }
            }
            @include media-breakpoint-up(md) {
                .col-md-10 {
                    .image-align-right {
                        margin-right: 0;
                    }
                }
            }
            @include media-breakpoint-up(lg) {
                .col-lg-8 {
                    .image-align-right {
                        margin-right: -16.7%;
                    }
                }
            }


            .footnote {
                @include text-caption();
                @include color-spb-sky-3();

                position: relative;
                padding-top: rem(22px);

                &:before {
                    display: block;
                    position: absolute;
                    content: "";
                    top: 0;
                    left: 0;
                    right: 0;
                    border-top: 1px solid $spb-sky-1;
                }

            }

            .clear {
                clear: both;
            }

            p.image-container {
                clear: both;
            }

            .image {
                &.image-cutter {

                }
            }


            ul {
                list-style-type: none;
                li {
                    &:before {
                        background-color: $green;
                        content: "";
                        width: rem(6px);
                        height: rem(6px);
                        @include border-radius(50%);
                        margin-right: rem(15px);
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
            }



        }

    }

    &.custom.ns-service.a-error {
        h2 {
            margin-top: 30px;
            text-align: center;
        }
    }
}



















